// You can add global styles to this file, and also import other style files

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@font-face {
  font-family: 'Gotham Pro Regular';
  src: url('/assets/GothamPro.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  background: #1e272e;
  color: #fff;
  height: 100%;
  font-size: 62.5%;
  font-family: "Gotham Pro Regular","Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  text-align: center;  
}

a {
  color: #fff;
  text-decoration: none;

  &:hover {
    color: #7b68ee;
  }
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


